langchain
langchain-community
langchain-experimental
fastapi
python-dotenv
streamlit
uvicorn
pydantic
httpx
requests
langchain-google-community[places]==2.0.4
langchain-google-genai
langchain_tavily
langchain_groq
langgraph
pyyaml>=6.0
watchdog
googlemaps